      .para {
          color: red;
          border: 2px blue dashed;
          font-size: xx-large;
          background-color: aqua;
      }

      #email {
          border: 2px blue solid;
          border-radius: 5px;
      }
      .para span{
        color: blueviolet;
        font-size: 45px;
      }