* {
    margin: 0;
    padding: 0;
}

.layout {
    max-width: 858px;
    height: auto;
    width: 100%;
    margin: 0 auto
}

.layout .navbar {
    padding: 20px 8px;
    display: flex;
    align-items: center;
    /* verticaly center*/
    justify-content: flex-end;
    /* Horizontly center*/

}

.layout .navbar div {
    display: flex;
    gap: 30px;
}

.layout .navbar div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0px;
    color: #000;
    font-family: "Heebo", sans-serif;
}